src/.gitignore
src/StockProduct.Api/obj/project.assets.json
src/StockProduct.Api/obj/project.nuget.cache
src/StockProduct.Api/obj/StockProduct.Api.csproj.nuget.dgspec.json
src/StockProduct.Api/obj/Debug/net7.0/project.razor.json
src/StockProduct.Api/obj/Debug/net7.0/StockProduct.Api.assets.cache
src/StockProduct.Api/obj/Debug/net7.0/StockProduct.Api.GeneratedMSBuildEditorConfig.editorconfig
src/StockProduct.Infrastructure/obj/project.nuget.cache
src/StockProduct.Infrastructure/obj/StockProduct.Infrastructure.csproj.nuget.dgspec.json
src/StockProduct.Api/StockProduct.Api.csproj
src/StockProduct.Api/StockProduct.Api.csproj
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.pdb
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Application.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Application.pdb
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Infrastructure.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Infrastructure.pdb
src/StockProduct.Api/obj/project.assets.json
src/StockProduct.Api/obj/project.nuget.cache
src/StockProduct.Api/obj/StockProduct.Api.csproj.nuget.dgspec.json
src/StockProduct.Api/obj/Debug/net7.0/project.razor.json
/src/StockProduct.Infrastructure/bin/Debug/net7.0/StockProduct.Application.dll
/src/StockProduct.Infrastructure/bin/Debug/net7.0/StockProduct.Application.pdb
/src/StockProduct.Api/obj/Debug/net7.0/StockProduct.Api.csproj.AssemblyReference.cache
/src/StockProduct.Infrastructure/bin/Debug/net7.0/StockProduct.Infrastructure.pdb
/src/StockProduct.Infrastructure/bin/Debug/net7.0/StockProduct.Infrastructure.dll
/src/StockProduct.Infrastructure/obj/Debug/net7.0/StockProduct.Infrastructure.csproj.AssemblyReference.cache
/src/StockProduct.Infrastructure/obj/Debug/net7.0/StockProduct.Infrastructure.dll
/src/StockProduct.Infrastructure/obj/Debug/net7.0/StockProduct.Infrastructure.pdb
/src/StockProduct.Application/obj/Debug/net7.0/refint/StockProduct.Application.dll
/src/StockProduct.Application/obj/Debug/net7.0/StockProduct.Application.pdb
/src/StockProduct.Application/obj/Debug/net7.0/StockProduct.Application.dll
/src/StockProduct.Application/obj/Debug/net7.0/StockProduct.Application.csproj.CoreCompileInputs.cache
/src/StockProduct.Application/obj/Debug/net7.0/ref/StockProduct.Application.dll
/src/StockProduct.Application/bin/Debug/net7.0/StockProduct.Application.pdb
/src/StockProduct.Application/bin/Debug/net7.0/StockProduct.Application.dll
/src/StockProduct.Api/obj/Debug/net7.0/StockProduct.Api.pdb
/src/StockProduct.Api/obj/Debug/net7.0/StockProduct.Api.dll
/src/StockProduct.Api/obj/Debug/net7.0/StockProduct.Api.csproj.FileListAbsolute.txt
/src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Infrastructure.pdb
/src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Infrastructure.dll
/src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Application.pdb
/src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Application.dll
/src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.pdb
/src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
/src/.vs/StockProductHub.Producer/FileContentIndex/read.lock
/src/.vs/StockProductHub.Producer/FileContentIndex/f7cd9c19-d6b6-45aa-be51-fdd01ae92c67.vsidx
/src/.vs/StockProductHub.Producer/DesignTimeBuild/.dtbcache.v2
/src/.vs/StockProductHub/FileContentIndex/915c8dfc-c503-4eff-b16b-d16c24fac3cd.vsidx
/src/.vs/StockProductHub/FileContentIndex/436ba6e5-2973-485c-a6fa-9e0cc249b8d9.vsidx
*.v2
/src/.vs/ProjectEvaluation/stockproducthub.projects.v6.1
/src/.vs/ProjectEvaluation/stockproducthub.metadata.v6.1
/src/.vs/ProjectEvaluation/stockproducthub.metadata.v6.1
