src/.gitignore
src/StockProduct.Api/obj/project.assets.json
src/StockProduct.Api/obj/project.nuget.cache
src/StockProduct.Api/obj/StockProduct.Api.csproj.nuget.dgspec.json
src/StockProduct.Api/obj/Debug/net7.0/project.razor.json
src/StockProduct.Api/obj/Debug/net7.0/StockProduct.Api.assets.cache
src/StockProduct.Api/obj/Debug/net7.0/StockProduct.Api.GeneratedMSBuildEditorConfig.editorconfig
src/StockProduct.Infrastructure/obj/project.nuget.cache
src/StockProduct.Infrastructure/obj/StockProduct.Infrastructure.csproj.nuget.dgspec.json
src/StockProduct.Api/StockProduct.Api.csproj
src/StockProduct.Api/StockProduct.Api.csproj
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Api.pdb
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Application.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Application.pdb
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Infrastructure.dll
src/StockProduct.Api/bin/Debug/net7.0/StockProduct.Infrastructure.pdb
src/StockProduct.Api/obj/project.assets.json
src/StockProduct.Api/obj/project.nuget.cache
src/StockProduct.Api/obj/StockProduct.Api.csproj.nuget.dgspec.json
src/StockProduct.Api/obj/Debug/net7.0/project.razor.json
